<section class="orders-show">

  <header class="page-header">
    <h2>Thank you for your order <%= @order.email %>!</h2>
    <h3>Order : <%= @order.id %></h1>
  </header>

  <div class='line-items'>
    <% line_items = LineItem.where(order_id: @order.id) %>
    <% line_items.each do |line_item| %>
      <%= render 'item', product_id: line_item.product_id, quantity: line_item.quantity, line_total: line_item.total_price %>
    <% end %>
  </div>
  <h3>Your order total: <%= humanized_money_with_symbol @order.total %></h3>
  <%= link_to "Continue Shopping", root_path, class: 'btn btn-lg btn-primary' %>

</section>
